<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/reservations/submit" method="POST">
        <input type="text" id="dateBooked" name="dateBooked" value="<%= dateBooked %>" readonly="readonly"><br>
        <input id="FieldId" name="FieldId" value="<%= FieldId %>" readonly="readonly"><br>
        <% for (let i = 0 ; i < allSession.length ; i++) { %>
            <input type="checkbox" name="session" value="<%= allSession[i]  %>">
            <label for="session"><%= sessionInHour[i]  %> </label><br>
        <% } %> 
        <input type="submit" value="Submit">
    </form>
</body>
</html>