<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fields</title>
</head>
<body>
    <h1>Fields</h1>
    <table id="data">
        <thead>
            <tr>
                <th>Field Name</th>
                <th>Type</th>
                <th>Facility</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0 ; i < fields.length ; i++) { %>
                <tr>
                    <td><%= fields[i].name %></td>
                    <td><%= fields[i].type %></td>
                    <td><%= fields[i].facility %></td>
                    <td><%= fields[i].price %></td>
                </tr>
            <% } %> 
        </tbody>
    </table> 
</body>
</html>