<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fields</title>
</head>
<body>
    <h1>Fields</h1>
    <table id="data">
        <thead>
            <tr>
                <th>Booking ID</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0 ; i < userfields.length ; i++) { %>
                <tr>
                    <td><%= userfields[i].id %></td>
                </tr>
            <% } %> 
        </tbody>
    </table> 
</body>
</html>